<!DOCTYPE html>
<html>
<head>
  <title>TripMate</title>
</head>

<body>
  <h1>TripMate</h1>

  <p>
    <a href="/search">Search trips</a>
  </p>
  {%if session.user_id%}
  <p>
    You are logged in as {{session.username}}
  </p>
  <p>
    <a href="/new_trip">Create a new trip</a>
  </p>
  <form action="/logout" method="post">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}"/>
    <input type="submit" value="Log out"/>
  </form>
  {%else%}
  <form action="/login" method="post">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}"/>
    <p>
      <label for="username">Username:</label><br/>
      <input type="text" name="username"/>
    </p>
    <p>
      <label for="password">Password:</label><br/>
      <input type="password" name="password"/>
    </p>
    <input type="submit" value="Log in"/>
  </form>
  <p>
    <a href="/register">Create account</a>
  </p>
  {%endif%}

  <h2>Trips</h2>

  {%for trip in trips%}
  <p>
    <a href="/trip/{{trip.id}}">From {{trip.start_location}} to {{trip.destination}}</a>
    <br />
    Date: {{trip.travel_date}}
    <br />
    Seats: {{trip.seat_count}}
    <br />
    Created by: <a href="/user/{{trip.user_id}}">{{trip.username}}</a>
  </p>
  <hr />
  {%endfor%}
</body>
</html>