<!DOCTYPE html>
<html>
<head>
  <title>New trip</title>
</head>

<body>
  <h1>New trip</h1>

  <form action="/create_trip" method="post">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}"/>
    <p>
      From: <br/>
      <input type="text" name="start_location"/>
    </p>
    <p>
      To: <br/>
      <input type="text" name="destination"/>
    </p>
    <p>
      Date: <br/>
      <input type="date" name="travel_date"/>
    </p>
    <p>
      Number of seats: <br/>
      <input type="number" name="seat_count"/>
    </p>
    <p>
      Description: <br/>
      <textarea name="description" rows="5" cols="40"></textarea>
    </p>
    <h2>Travel style</h2>

    {%for option in classifications%}
      {%if option.category == "style"%}
      <p>
        <label>
          <input type="radio" name="style"
                 value="{{option.id}}" required/>
          {{option.name}}
        </label>
      </p>
      {%endif%}
    {%endfor%}

    <h2>Ride preferences</h2>

    {%for option in classifications%}
      {%if option.category == "preference"%}
      <p>
        <label>
          <input type="checkbox" name="preference"
                 value="{{option.id}}"/>
          {{option.name}}
        </label>
      </p>
      {%endif%}
    {%endfor%}
    <input type="submit" value="Create trip"/>
  </form>
  <p>
    <a href="/">Back</a>
  </p>
</body>
</html>