<!DOCTYPE html>
<html>
<head>
  <title>New trip</title>
</head>

<body>
  <h1>New trip</h1>

  <form action="/create_trip" method="post">
    <p>
      From: <br/>
      <input type="text" name="start_location"/>
    </p>
    <p>
      To: <br/>
      <input type="text" name="destination"/>
    </p>
    <p>
      Date: <br/>
      <input type="date" name="travel_date"/>
    </p>
    <p>
      Number of seats: <br/>
      <input type="number" name="seat_count"/>
    </p>
    <p>
      Description: <br/>
      <textarea name="description" rows="5" cols="40"></textarea>
    </p>
    <input type="submit" value="Create trip"/>
  </form>
  <p>
    <a href="/">Back</a>
  </p>
</body>
</html>