<!DOCTYPE html>
<html>
<head>
  <title>New trip</title>
</head>

<body>
  <h1>New trip</h1>

  <form action="/create_trip" method="post">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}"/>
    <p>
      <label for="start_location">From:</label><br/>
      <input type="text" name="start_location" maxlength="50" required/>
    </p>
    <p>
      <label for="destination">To:</label><br/>
      <input type="text" name="destination" maxlength="50" required/>
    </p>
    <p>
      <label for="travel_date">Date:</label><br/>
      <input type="date" name="travel_date" min="{{today}}" required/>
    </p>
    <p>
      <label for="seat_count">Number of seats:</label><br/>
      <input type="number" name="seat_count" min="1" max="8" required/>
    </p>
    <p>
      <label for="description">Description:</label><br/>
      <textarea name="description" rows="5" cols="40" maxlength="1000"></textarea>
    </p>
    <h2>Travel style</h2>

    {%for option in classifications%}
      {%if option.category == "style"%}
      <p>
        <label>
          <input type="radio" name="style"
                 value="{{option.id}}" required/>
          {{option.name}}
        </label>
      </p>
      {%endif%}
    {%endfor%}

    <h2>Ride preferences</h2>

    {%for option in classifications%}
      {%if option.category == "preference"%}
      <p>
        <label>
          <input type="checkbox" name="preference"
                 value="{{option.id}}"/>
          {{option.name}}
        </label>
      </p>
      {%endif%}
    {%endfor%}
    <input type="submit" value="Create trip"/>
  </form>
  <p>
    <a href="/">Back</a>
  </p>
</body>
</html>