<!DOCTYPE html>
<html>

<head>
  <title>Trip</title>
</head>

<body>
  <h1>From {{trip.start_location}} to {{trip.destination}}</h1>

  <p>
    Date: {{trip.travel_date}}
  </p>
  <p>
    Number of seats: {{trip.seat_count}}
  </p>
  <p>
    Description:
    <br/>
    {{trip.description}}
  </p>
  <h2>Travel style</h2>
  <p>
    {{style}}
  </p>
  <h2>Ride preferences</h2>

  {%if preferences%}
  <ul>
    {%for preference in preferences%}
    <li>{{preference}}</li>
    {%endfor%}
  </ul>
  {%else%}
  <p>
    No preferences specified
  </p>
  {%endif%}
  <p>
    Created by: <a href="/user/{{trip.user_id}}">{{trip.username}}</a>
  </p>
  {%if trip.user_id == session.user_id%}
  <p>
    <a href="/edit_trip/{{ trip.id }}">Edit</a>
  </p>
  <p>
    <a href="/remove_trip/{{ trip.id }}">Delete</a>
  </p>
  {%endif%}

  <p>
    <a href="/">Back</a>
  </p>
</body>
</html>